Assignments/Hands-on with Platforms/Resources/face recognition node-red.json
[{"id":"c85d2bf5.f7aa78","type":"http in","z":"d0d112d0.6ef6c","name":"","url":"/people","method":"get","swaggerDoc":"","x":112,"y":192,"wires":[["525f71e9.d2f7f"]]},{"id":"525f71e9.d2f7f","type":"switch","z":"d0d112d0.6ef6c","name":"check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":244,"y":293,"wires":[["b6675caf.f6da9"],["f3b18717.991238"]]},{"id":"b6675caf.f6da9","type":"template","z":"d0d112d0.6ef6c","name":"Prompt Image","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to my Face Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form action=\"{{req._parsedUrl.pathname}}\">\n<img src=\"http://asbarez.com/wp-content/uploads/2016/02/ibmwatson.jpg\" height='200'/>\n<img src=\"http://www.awaken.com/wp-content/uploads/2015/05/forbes.jpg\" height='200'/>\n<img\nsrc=\"https://www.commerce.gov/sites/commerce.gov/files/styles/scale_250w/public/media/images/profile/elizabethholmes.jpg?it\nok=DHmvdC-1\" height='200'/>\n<br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do\nan image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click\nthat to get the URL.<br/>\n<br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n<input type=\"submit\" value=\"Analyze\"/>\n</form>","x":571,"y":188,"wires":[["20da7f78.a77bf"]]},{"id":"f3b18717.991238","type":"change","z":"d0d112d0.6ef6c","name":"Extract Image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":449,"y":387,"wires":[["dca897df.bd48a8","a8e45f32.59387"]]},{"id":"5260ac1a.e64984","type":"template","z":"d0d112d0.6ef6c","name":"Report Faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition v3 Image Analysis</h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <p>Images Processed: {{result.images_processed}}</p>\n    <table border='1'>\n        <thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n        {{#result.images.0.faces}}<tr>\n            <td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n            <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n            <td>{{identity.name}} ({{identity.score}})</td>\n        </tr>{{/result.images.0.faces}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":866,"y":309,"wires":[["20da7f78.a77bf"]]},{"id":"20da7f78.a77bf","type":"http response","z":"d0d112d0.6ef6c","name":"","x":922,"y":181,"wires":[]},{"id":"dca897df.bd48a8","type":"debug","z":"d0d112d0.6ef6c","name":"","active":true,"console":"false","complete":"payload","x":618,"y":481,"wires":[]},{"id":"1ddafec5.4c3761","type":"debug","z":"d0d112d0.6ef6c","name":"","active":true,"console":"false","complete":"true","x":843,"y":420,"wires":[]},{"id":"a8e45f32.59387","type":"visual-recognition-v3","z":"d0d112d0.6ef6c","name":"ImgAnalysis","apikey":"0e7a30cab71bc0c33d7f2650fd73fbc761c66f87","image-feature":"detectFaces","lang":"en","x":641,"y":346,"wires":[["1ddafec5.4c3761","5260ac1a.e64984"]]}]
